NODE_ENV=development
APP_ENV=local
PORT=3000
LOG_LEVEL=debug
SERVER_URL=http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=pahad
DB_PASSWORD=pahad
DB_NAME=pahad_pulse
DB_POOL_LIMIT=20

CORS_ORIGIN=http://localhost:3001
